.container {
    background-image: url("http://pic.sucaibar.com/pic/201309/02/46c6e48254.jpg");
	background-repeat: no-repeat;
}
#Main{
	font-family: Verdana;
	font-size:250%;
	color: #6888a1;
	padding: 10px;
	font-weight: bold;
}
a{
	font-family: Comic Sans M;
	font-size: 24px;
	color: #4d4d33;
}
